.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto-serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 0;
  padding: 0;
}

.form__input {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  padding-left: 10px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border: solid 1px #838383;
  max-width: 385px;
  width: 100%;
  text-align: left;
}

.form__input::placeholder {
  font-size: 16px;
  color: #828383;
}

.form__button {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  transition: opacity 3s ease 0s;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.form__label_checkbox_checked {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 0;
}
