.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.menu__title {
  margin: 0;
  max-width: 780px;
  padding-top: 100px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0;
  max-width: 780px;
  padding-top: 24px;
  padding-bottom: 100px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
  padding-bottom: 100px;
}
